* {
    padding: 0px;
    margin: 0px;
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(10, 10, 10);
}

.formularo {
    text-align: center;
    margin: 90px;
    padding: 50px;
}

.formularo {
    border: 4px, solid, rgb(255, 230, 0);
    box-shadow: 0px 0px 14px rgba(255, 230, 0, 0.815);
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    width: 400px;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 130px;
}


h1 {
    margin: 25px;
    font-size: xx-large;
}

p {
    margin: 18px;
    font-size: medium;
}

form {
    font-size: 20px;
}

label {
    font-size:medium ;
    
}

input {
    width:200px;
    height: 8px;
    color: rgb(0, 0, 0);
    border: 1px, solid,  rgb(255, 230, 0) ;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    font-size: medium;
}

button {
    background-color: rgb(0, 0, 0);
    border: none;
    padding-top: 14px;
    cursor: pointer;
}